logs
projectFilesBackup*/*
**/*GitIgnore.*
project/project
project/target
target
tmp
.history
dist
/.idea
**/*.iml
/out
/.idea_modules
/.project
/RUNNING_PID
/.settings
.target/**
bin/**
.cache
/bin
*.tmp
/.target
*QuickMain*
jPlayer
.cache*
.idea/**
.idea/
.idea
*.sh
/app/mains/QuickJava.java
*.log
**/tokens.properties
