__*
*.iml
*.log
*.sh
*.tmp
*GitIgnore*
*QuickMain*
.cache*
.history
.idea*
.project
.settings
.target
/bin
/out
QuickJava.java
RUNNING_PID
dist
jPlayer
logs
project/project
project/target
projectFilesBackup
target
tmp
tokens.properties
