__*
*.iml
*.json
*.log
*.sh
*.tmp
*GitIgnore*
*QuickMain*
*.class
.cache*
.history
.idea*
.project
.settings
.target
/bin
/out
QuickJava.java
RUNNING_PID
dist
jPlayer
!jPlayer/add-on/jplayer.playlist.js
!jPlayer/jquery.jplayer.js
logs
project/project
project/target
projectFilesBackup
target
tmp
tokens.properties
node_modules
