<html>
    <title>My MP3 Site</title>
    <head>
        <script type="text/javascript" src="/assets/javascripts/jquery.js")></script>
        <script type="text/javascript" src="/assets/javascripts/common.js")></script>
        <script type="text/javascript" src="/assets/javascripts/ws/common.js")></script>
        <script type="text/javascript">
            $(function() {
                openConnection("refresh", function(msg) {
                    $("#status").text(msg.data)
                });
            });
        </script>
    </head>
    <body>
        Status: <p id="status"></p>
    </body>
</html>
