@CHARSET "windows-1255";
.poster {
  margin-left: 0;
  background-color: transparent !important;
}

body {
  background-color: #eee;
  margin: 20px;
}

.width-limited-playlist-span {
  max-width: 580px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.playlist-item-poster {
  width: 3%;
  padding-right: 5px;
  vertical-align: middle;
}

span.jp-playlist-item {
  color: #666 !important;
  display: inline;
  outline-width: 0;
  width: 650px;
  cursor: context-menu;
}

.fa {
  cursor: pointer;
}

.jp-playlist ul li {
  cursor: pointer;
}

.jp-video, .jstree {
  width: 760px !important;
}

.jstree {
  position: absolute;
  left: 1320px;
  float: left;
}

#last_album {
  position: absolute;
  left: 800px;
  float: right;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}

#search {
  position: absolute;
  left: 800px;
  float: right;
  margin-top: 30px;
}

#search-results {
  width: 400px
}

.search-result {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#field-set-group {
  position: absolute;
  left: 800px;
  top: 300px;
  float: right;
  width: 350px;
}

#score {
  width: 260px;
}

#score select {
  float: right;
}

#score > div {
  overflow: hidden;
}

#lyrics {
  position: absolute;
  left: 1300px;
  float: right;
}

#lyric-box {
  height: 770px;
  overflow-y: scroll;
  direction: ltr;
}

#lyric-contents {
  margin-right: 10px;
}

.jp-currently-playing {
  display: inline-block;
  float: left;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jp-metadata {
  color: #666;
}

.jp-title {
  font-size: 16px;
}

.jp-playlist-current .jp-title {
  color: #0d88c1;
}

.jp-playlist-current div a {
  font-size: 20px;
  margin-top: -4px;
}

.jp-artist {
  color: #666;
  font-weight: bold;
}

.jp-list-duration {
  color: #666;
  display: inline-block;
  vertical-align: bottom;
  width: 65px;
}

.mac .jp-list-duration {
  width: 76px;
}

div.jp-controls-holder {
  margin-top: 5px;
}

div.jp-interface {
  border: 0 !important;
}

#jp_container_1 {
  margin-top: 3px;
}

.external-links {
  margin: 0;
  padding-left: 1em;
  margin-bottom: 5px;
}

.external-recon-id {
  margin-bottom: 1px;
}

#new-albums {
  width: 400px;
}

#new-albums ul {
  margin: 0;
}

.jp-mute,
.jp-unmute {
  left: 0;
}

.jp-volume-max {
  left: 134px;
}

.jp-volume-bar {
  top: 17px;
  left: 22px;
  width: 105px;
}
