@CHARSET "windows-1255";
.poster {
  margin-left: 0;
  background-color: transparent !important;
}

body {
  background-color: #eee;
}

.width-limited-playlist-span {
  max-width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

span.jp-playlist-item {
  color: #666 !important;
  display: inline;
  outline-width: 0;
  width: 650px
}

.fa {
  cursor: pointer;
}

.jp-playlist ul li {
  cursor: pointer;
}

.jp-video, .jstree {
  width: 760px !important;
}

.jstree {
  position: absolute;
  left: 1320px;
  float: left;
}

#search {
  position: absolute;
  left: 800px;
  float: right;
}
#search-results {
  width: 400px
}
.search-result {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

#last_albums {
  position: absolute;
  top: 600px;
  left: 800px;
  float: right;
}
.last-album {
  width: 300px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

#external {
  position: absolute;
  left: 800px;
  top: 700px;
  float: right;
}

#lyrics {
  position: absolute;
  left: 1300px;
  float: right;
}

.jp-currently-playing {
  display: inline-block;
  float: left;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jp-metadata {
  color: #666;
}
.jp-title {
  font-size: 16px;
}
.jp-playlist-current .jp-title {
  color: #0d88c1;
}
.jp-playlist-current div a {
  font-size: 20px;
  margin-top: -4px;
}
.jp-artist {
  color: #666;
  font-weight: bold;
}
.jp-list-duration {
  color: #666;
  display: inline-block;
  vertical-align: bottom;
  width: 65px;
}

div.jp-controls-holder {
  margin-top: 5px;
}