@CHARSET "windows-1255";
.poster {
	margin-left: 55px;
	background-color: transparent !important;
}
body {
	background-color: #eee;
}

.jp-video,.jstree {
	width: 720px !important;
}

.jstree {
	position: absolute;
	left: 1320px;
	float: left;
}

#search {
  position: absolute;
  left: 800px;
  float: right;
}
#external {
	position: absolute;
	left: 800px;
	top: 400px;
	float: right;
}
#lyrics {
	position: absolute;
	left: 1200px;
	float: right;
}

.jp-currently-playing {
	font-size: 0.8em;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
  float: left;
}
