#search .ui-tabs-panel * {
  font-size: 12px
}

#search :not(li) {
  font-size: 15px
}

#search-results .fa {
  zoom: 1.2;
  cursor: pointer;
}

#search-results ul {
  list-style-type: none;
  padding-left: 0;
}
