<configuration debug="false">
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />
	<logger name="play.core.server.netty.NettyModelConversion" level="ERROR"/>
	<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
		<!--<encoder>-->
			<!--&lt;!&ndash; The logging pattern, you might want to adapt it &ndash;&gt;-->
			<!--<pattern>%d %coloredLevel %t - %file:%line - %message%n%xException</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->

	<!-- Default logging level for every logger -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="scala.slick" level="INFO" />
	<logger name="ch.qos.logback.classic.joran" level="ERROR" />
</configuration>
