<!DOCTYPE html>
<html>
    <script type="text/javascript" src="/js/flac/aurora.js")></script>
    <script type="text/javascript" src="/js/flac/flac.js")></script>
    <script type="text/javascript" src="/js/flac/mp3.js")></script>
    <body>Hello world</body>
    <script type="text/javascript">
        const p = AV.Player.fromURL("/flac/raw")
        p.preload()
        p.on('ready', function() {
            console.log('ready');

            // Aurora doesn't create the audio context until you start playing it.
            p.play();
            window.setTimeout(function() { p.stop() }, 5000);
        })
    </script>
</html>

