<html>
  <title>New albums</title>
  <head>
    <script type="text/javascript" src="/assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/assets/javascripts/jquery-ui-1.11.4/jquery-ui.js")></script>
    <script type="text/javascript" src="/assets/javascripts/common.js"></script>
    <script type="text/javascript" src="/assets/javascripts/albums/albums.js"></script>
    <link href="/assets/javascripts/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet" />
</head>
<body>
  <div id="albums"/>
</body>
</html>
